<div class="dolce_container">
  <section class="dolce01">
    <div class="dolce_img_wrapper01">
      <%= image_tag 'image20.jpeg', alt: 'フードの写真' %>
    </div>
    <div class="dolce_overlay01"></div>
    <p>こだわりの説明が入ります</p>
  </section>

  <section class="dolce02">
    <div class="dolce02_wrapper">
      <h2>DOLCE MENU</h2>
      <div class="dolce_menus">
        <% dolces.each do |dolce| %>
          <div class="dolce_menu">
            <div class="dolce_menu_img">
              <%= link_to(image_tag(dolce.image), "/menus/#{dolce.id}/show") %>
            </div>
            <div class="dolce_menu_contents">
              <div class="dolce_menu_name"><%= link_to dolce.name, "#{dolce.id}/show" %></div>
              <div class="dolce_menu_price">￥<%= dolce.price %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="dolce03">
    <span>NEW</span>
    <span class="modal_second_span">recipe</span>

    <div class="show_form_box">
      <%= form_with model: @menu, local: true do |f| %>
        <%= f.label :category_id, 'カテゴリー', class: "show_label" %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class:"show_input"}) %>
        <%= f.label :name, '名前', class: 'show_label' %>
        <%= f.text_field :name, class:"show_input" %>
        <%= f.label :explain, '説明', class: 'show_label' %>
        <%= f.text_area :explain, rows: 3, class:"show_input" %>
        <%= f.label :recipe, 'レシピ', class: 'show_label' %>
        <%= f.text_area :recipe, rows: 3, class:"show_input" %>
        <%= f.label :how_to, '作り方', class: 'show_label' %>
        <%= f.text_area :how_to, rows: 3, class:"show_input" %>
        <%= f.label :price, '値段', class: 'show_label' %>
        <%= f.text_field :price, class:"show_input" %>
        <%= f.file_field :image %>
        <%= f.submit 'SEND', class:"show_submit" %>
        <div class="show_form_buttons">
          <%= link_to '◀︎ TOP', root_path, class: 'show_top' %>
          <span class="show_form_close">× CLOSE</span>
        </div>
      <% end %>
    </div>
  </section>
</div>