<div class="drink_container">
  <section class="drink01">
    <div class="drink_img_wrapper01">
      <%= image_tag 'image26.jpeg', alt: 'フードの写真' %>
    </div>
    <div class="drink_overlay01"></div>
    <p>こだわりの説明が入ります</p>
  </section>

  <section class="drink03">
    <h2>recommended</h2>
    <div class="drink_recommended01">
      <div class="drink_img_wrapper04">
        <%= image_tag 'image13.jpeg', alt: 'おすすめメニューの写真１' %>
      </div>
      <div class="drink_recommended_explain01">
        <ul>
          <li>メニュー名</li>
          <li>説明</li>
          <li>値段</li>
        </ul>
      </div>
    </div>

    <div class="drink_recommended02">
      <div class="drink_img_wrapper05">
        <%= image_tag 'image14.jpeg', alt: 'おすすめメニューの写真２' %>
      </div>
      <div class="drink_recommended_explain02">
        <ul>
          <li>メニュー名</li>
          <li>説明</li>
          <li>値段</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="drink04">
    <div class="drink04_wrapper">
      <h2>DRINK MENU</h2>
      <div class="drink_menus">
        <% drinks.each do |drink| %>
          <div class="drink_menu">
            <div class="drink_menu_img">
              <%= link_to(image_tag(drink.image), "/menus/#{drink.id}/show") %>
            </div>
            <div class="drink_menu_contents">
              <div class="drink_menu_name"><%= link_to drink.name, "/menus/#{drink.id}/show" %></div>
              <div class="drink_menu_price">￥<%= drink.price %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="drink05">
    <span>NEW</span>
    <span class="modal_second_span">recipe</span>

    <div class="show_form_box">
      <%= form_with model: @menu, local: true do |f| %>
        <%= f.label :category_id, 'カテゴリー', class: "show_label" %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class:"show_input"}) %>
        <%= f.label :name, '名前', class: 'show_label' %>
        <%= f.text_field :name, class:"show_input" %>
        <%= f.label :explain, '説明', class: 'show_label' %>
        <%= f.text_area :explain, rows: 3, class:"show_input" %>
        <%= f.label :recipe, 'レシピ', class: 'show_label' %>
        <%= f.text_area :recipe, rows: 3, class:"show_input" %>
        <%= f.label :how_to, '作り方', class: 'show_label' %>
        <%= f.text_area :how_to, rows: 3, class:"show_input" %>
        <%= f.label :price, '値段', class: 'show_label' %>
        <%= f.text_field :price, class:"show_input" %>
        <%= f.file_field :image %>
        <%= f.submit 'SEND', class:"show_submit" %>
        <div class="show_form_buttons">
          <%= link_to '◀︎ TOP', root_path, class: 'show_top' %>
          <span class="show_form_close">× CLOSE</span>
        </div>
      <% end %>
    </div>
  </section>
</div>