<div class="show_container">
  <div class="section_wrapper">
    <section class="show01">
      <span class="show_menu_name">
        <%= @menu.name %>
      </span>
      <div class="show_img_wrapper">
        <%= image_tag(@menu.image) %>
      </div>
    </section>

    <section class="show02">
      <div class="show_menu_recipe">
        <span>材料</span><br><br>
        <%= @menu.recipe %>
      </div>
      <div class="show02_for_flex">
        <div class="show_menu_how_to">
          <span>作り方</span><br><br>
          <%= @menu.how_to %>
        </div>
        <div class="show_buttons">
          <span class="edit_btn"><i class="fa-solid fa-pen-to-square"></i></span>
          <%= link_to menu_path(@menu), method: :delete, class: "delete_btn", data: {confirm: "コメントを削除しますか？"} do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
    </section>
  </div>

  <section class="modal_page">
    <div class="show_form_wrapper">
      <div class="show_form_box">
        <h2 class="show_form_title">New Recipe</h2>
        <div class="show_form">
          <%= form_with model: @menu, local: true do |f| %>
            <%= f.label :category_id, 'カテゴリー', class: "show_label" %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class:"show_input"}) %>
            <%= f.label :name, '名前', class: 'show_label' %>
            <%= f.text_field :name, class:"show_input" %>
            <%= f.label :explain, '説明', class: 'show_label' %>
            <%= f.text_area :explain, rows: 3, class:"show_input" %>
            <%= f.label :recipe, 'レシピ', class: 'show_label' %>
            <%= f.text_area :recipe, rows: 3, class:"show_input" %>
            <%= f.label :how_to, '作り方', class: 'show_label' %>
            <%= f.text_area :how_to, rows: 3, class:"show_input" %>
            <%= f.label :price, '値段', class: 'show_label' %>
            <%= f.text_field :price, class:"show_input" %>
            <%= f.file_field :image %>
            <%= f.submit 'SEND', class:"show_submit" %>
            <div class="show_form_buttons">
              <%= link_to '◀︎ TOP', root_path, class: 'show_top', data:{turbolinks: false} %>
              <span class="show_form_close">× CLOSE</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>