<main class="index_main">
  <section class="container01">
    <div class="background01">
      <%= image_tag 'image1.jpeg', alt:"トップイメージ"%>
      <div class="over_lay01"></div>
    </div>
  </section>

  <section class="container02">
    <div class="background02">
      <div class="concept_message">
        ここにコンセプトメッセージが入ります
      </div>
      <div class="concept_img">
        <%= image_tag 'image2.jpeg', alt: "コンセプト画像"%>
      </div>
    </div>
  </section>

  <section class="container03">
    <span class="menu">MENU</span>
    <p class="comment">近所のスーパーから買ってきた肉や野菜。<br>シェフ自ら現地に出向き、<br>厳選した食材を使用しております。</p>
    <figure class="menu_image_boxes">
      <div class="img_box">
        <%= image_tag 'image3.jpeg', alt: "FOODの画像" %>
        <%= link_to 'FOOD', {controller: 'menus', action: 'index', name: 'food'}, class: 'top_food' %>
      </div>
      <div class="img_box">
        <%= image_tag 'image4.jpeg', alt: "DOLCEの画像" %>
        <%= link_to 'DOLCE', {controller: 'menus', action: 'index', name: 'dolce'}, class: 'top_dolce' %>
      </div>
      <div class="img_box">
      <%= image_tag 'image5.jpeg', alt: "DRINKの画像" %>
        <%= link_to 'DRINK', {controller: 'menus', action: 'index', name: 'drink'}, class: 'top_drink' %>
      </div>
    </figure>
  </section>

  <section class="container04">
    <div class="theater_explain">ここにシアターの説明が入ります</div>
    <div class="theater_img">
      <%= image_tag 'image6.jpeg', alt: "シアターの画像" %>
    </div>
  </section>

  <section class="container05">
    <div class="container05_left">
      <p>LOBORA cafe</p>
      <br>
      <p>LOBORA cafeは、2022年1月に看護師の専門学校入学試験に落ちた店主が、失意の中立ち上げたカフェです。東京駅のすぐ隣に位置する当店では、名物であるもち米リゾットや丸焦げ餃子をはじめ、多くのフードメニューを取り揃えております。また、自慢のコーヒーは近所のスーパーから直接取り寄せた本格インスタントコーヒーとなっております。通勤・通学やお買い物のついでにぜひお立ち寄りください。</p>
      <br>
      <p>住所：東京都千代田区丸の内１丁目</p>
      <p>営業時間：11:00-21:00 不定休</p>
      <p>メールアドレス：lobora@mail.com</p>
    </div>
    <div class="container05_right">
    <%= image_tag 'image7.jpeg', alt: "lobora cafeの外観" %>
    </div>
  </section>
</main>