<main class="index_main">
  <section class="container01">
    <div class="background01">
      <%= video_tag("/videos/movie1.mp4", autoplay: true, loop: true, muted: true) %>
      <div class="top_overlay1"></div>
    </div>
  </section>

  <section class="container02">
    <div class="background02"></div>
    <div class="concept_messages">
      <div class="concept_title">
        <p class="concept_title1">concept</p>
        <div class="concept_title2">
          <p>食材は</p>
          <p>腐りかけが</p>
          <p class= "last">一番美味しい</p>
        </div>
      </div>
      <div class="concept_message">
        <p>平日は仕事が忙しいので、週末にまとめ買いした食</p>
        <p>材を新鮮なうちには使用せず、期限ギリギリまで熟</p>
        <p>成させることで、他では味わうことができないコク</p>
        <p>のある味わいを実現しています。</p>
      </div>
    </div>
    <div class="concept_img">
      <%= image_tag 'image2.jpeg', alt: "コンセプト画像"%>
    </div>
  </section>

  <section class="container03">
    <div class="container03_border"></div>
    <div class="container03_title">
      <span class="menu">MENU</span>
      <p class="comment">近所のスーパーで買ってきた肉や野菜。<br>シェフ自ら現地に出向き、厳選した食材を使用しております。</p>
    </div>
    <figure class="menu_image_boxes">
      <div class="img_title_box">
        <div class="img_box box1">
          <%= link_to (image_tag 'image3.jpeg', alt: "FOODの画像"), {controller: 'menus', action: 'index', name: 'food'}, data:{turbolinks: false} %>
        </div>
        <%= link_to 'FOOD', {controller: 'menus', action: 'index', name: 'food'}, class: 'top_food', data:{turbolinks: false} %>
      </div>
      <div class="img_title_box">
        <div class="img_box box2">
          <%= link_to (image_tag 'image4.jpeg', alt: "DOLCEの画像"), {controller: 'menus', action: 'index', name: 'dolce'}, data:{turbolinks: false} %> 
        </div>
        <%= link_to 'DOLCE', {controller: 'menus', action: 'index', name: 'dolce'}, class: 'top_dolce', data:{turbolinks: false} %>
      </div>
      <div class="img_title_box">
        <div class="img_box box3">
          <%= link_to (image_tag 'image5.jpeg', alt: "DRINKの画像"), {controller: 'menus', action: 'index', name: 'drink'}, data:{turbolinks: false} %>
        </div>
        <%= link_to 'DRINK', {controller: 'menus', action: 'index', name: 'drink'}, class: 'top_drink', data:{turbolinks: false} %>
      </div>
    </figure>
  </section>

  <section class="container04">
    <div class="coffee_left">
      <div class="coffee_title">
        <p>COFEE</p>
        <p>品質へのこだわり</p>
      </div>
      <div class="coffee_explain">
        <p>
        美味しいコーヒーには「3たて」が重要という言葉があります。<br>
        これは、「炒りたて」「挽きたて」「淹れたて」の3つであり、美味しいコーヒーを作るにはこ<br>
        の3つの条件を満たす必要があります。専門知識と高度な技術を持ったコーヒーマイスターの資<br>
        格を持つバリスタが、炒りたての豆をその場で挽き一杯一杯丁寧にコーヒーを作っていきます。
        </p>
      </div>
    </div>
    <div class="coffee_video">
      <%= video_tag("/videos/movie3.mp4", autoplay: true, loop: true, muted: true) %>
    </div>
  </section>

  <section class="container05">
    <div class="container05_border"></div>
    <div class="container05_left">
      <span>&nbsp;&nbsp;LOBORA cafe</span>
      <p>LOBORA cafeは、2022年1月に看護師の専門学校入学試験に落ちた店主が、失意の中立ち上げたカフェです。</p>
      <p>東京駅のすぐ隣に位置する当店では、名物であるもち米リゾットや丸焦げ餃子をはじめ、多くのフードメニュー</p>
      <p>を取り揃えております。また、自慢のコーヒーは近所のスーパーから直接取り寄せた本格インスタントコーヒー</p>
      <p class="container05_left_message">となっております。通勤・通学やお買い物のついでにぜひお立ち寄りください。</p>
      <p>住所：東京都千代田区丸の内１丁目</p>
      <p>営業時間：11:00-21:00 &nbsp;&nbsp;不定休</p>
      <p>メールアドレス：lobora@mail.com</p>
    </div>
    <div class="container05_right">
    <%= image_tag 'image7.jpeg', alt: "lobora cafeの外観" %>
    </div>
  </section>

  <section class="modal_page">
    <div class="show_form_wrapper">
      <div class="show_form_box">
        <h2 class="show_form_title">New Recipe</h2>
        <div class="show_form">
          <%= form_with model: @menu, local: true do |f| %>
            <%= f.label :category_id, 'カテゴリー', class: "show_label" %>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {},{class:"show_input"}) %>
            <%= f.label :name, '名前', class: 'show_label' %>
            <%= f.text_field :name, class:"show_input" %>
            <%= f.label :explain, '説明', class: 'show_label' %>
            <%= f.text_area :explain, rows: 3, class:"show_input" %>
            <%= f.label :recipe, 'レシピ', class: 'show_label' %>
            <%= f.text_area :recipe, rows: 3, class:"show_input" %>
            <%= f.label :how_to, '作り方', class: 'show_label' %>
            <%= f.text_area :how_to, rows: 3, class:"show_input" %>
            <%= f.label :price, '値段', class: 'show_label' %>
            <%= f.text_field :price, class:"show_input" %>
            <%= f.file_field :image %>
            <%= f.submit 'SEND', class:"show_submit" %>
            <div class="show_form_buttons">
              <%= link_to '◀︎ TOP', root_path, class: 'show_top', data:{turbolinks: false} %>
              <span class="show_form_close">× CLOSE</span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>