<!DOCTYPE html>
<html>
  <head>
    <title>Lobora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="header_left">LOBORA<br> cafe</div>
        <div class="header_right">
          <div class="right_menus">
            <ul>
              <li>HOME</li>
              <li>FOOD</li>
              <li>DOLCE</li>
              <li>DRINK</li>
            </ul>
          </div>
          <div class="sign_out">SIGN OUT</div>
        </div>
      </header>
      
      <%= yield %>

      <footer>
        <div class="footer_left">
          <p>Store info</p><br>
          <p>住所：東京都千代田区丸の内１丁目</p>
          <p>営業時間：11:00-21:00</p>
          <p>不定休</p>
        </div>
        <div class="footer_center">
          <p>Phone&mail</p><br>
          <p>電話番号：03-1234-5678</p>
          <p>メール：lobora@mail.com</p>
        </div>
        <div class="footer_right">
          <p>SNS</p><br>
          <p>Youtube</p>
          <p>Instagram</p>
        </div>
      </footer>
    </div>
  </body>
</html>
