<!DOCTYPE html>
<html>
  <head>
    <title>Lobora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# googleフォント %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    <%# googleフォント %>
  </head>

  <body>
    <header>
      <div class="header_left">
      <h1>LOBORA<br> cafe</h1>
      </div>
      <div class="header_right">
        <% if user_signed_in? %>
          <div class="right_menus1">
            <ul>
              <li><%= link_to 'HOME', root_path, class: 'header_home' %></li>
              <li><%= link_to 'FOOD', {controller: 'menus', action: 'index', name: 'food'}, class: 'header_food' %></li>
              <li><%= link_to 'DOLCE', {controller: 'menus', action: 'index', name: 'dolce'}, class: 'header_dolce' %></li>
              <li><%= link_to 'DRINK', {controller: 'menus', action: 'index', name: 'drink'}, class: 'header_drink' %></li>
              <li><span class="header_newmenu">NEW RECIPE</span></li>
              <li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, class: 'header_signout' %> </li>
            </ul>
          </div>
        <% else %>
          <div class="right_menus2">
            <ul>
              <li><%= link_to 'SIGN UP', new_user_registration_path, class:'sign_up' %></li>
              <li><%= link_to 'SIGN IN', new_user_session_path, class: 'sign_in' %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </header>
    
    <%= yield %>

    <footer>
      <div class="footer_empty"></div>
      <div class="footer_body">
        <div class="footer_left">
          <span>&nbsp;Store info</span><br><br>
          <p>&nbsp;&nbsp;住所：東京都千代田区丸の内１丁目</p>
          <p>&nbsp;&nbsp;営業時間：11:00-21:00</p>
          <p>不定休</p>
        </div>
        <div class="footer_center">
          <span>&nbsp;Phone&mail</span><br><br>
          <p>&nbsp;&nbsp;電話番号：03-1234-5678</p>
          <p>&nbsp;&nbsp;メール：lobora@mail.com</p>
        </div>
        <div class="footer_right">
          <span>&nbsp;SNS</span><br><br>
          <p>&nbsp;&nbsp;Youtube</p>
          <p>&nbsp;&nbsp;Instagram</p>
        </div>
      </div>
    </footer>
  </body>
</html>
